.hom{
    margin-left: 420px;
    }
    .abo{
    margin-left: 120px;
    }
    .con{
        margin-left: 147px;
    }
    h2{
        
        margin-top: 100px;
       margin-right: 55px;
    }
    .aa{
        font-size:large;
       
    }
    .a1{
        margin-top: 50px;
    }