.hom{
    margin-left: 420px;
    }
    .abo{
    margin-left: 120px;
    }
    .con{
        margin-left: 147px;
    }
    h2{
        
        margin-top: 100px;
       
    }
    p{
        width: 400px;
        font-size: large;
        margin-left: 386px;
        
    }
 