.by{
    margin-top: 102px;
    font-size: xx-large;
    margin-left: 70px;
    }
    .a{
        margin-left: 140px;
    }
    
    .w{
        margin-top: 100px;
        font-size: xx-large;
        margin-left: 70px;
    }
    .l{
        margin-left: 140px;
    }
    .ww{
        margin-top: 94px;
        font-size: xx-large;
        margin-left: 70px;
    }
    .ll{
        margin-left: 140px;
    }
    .www{
        
        font-size: xx-large;
        margin-left: 280px;
        
    }
    .wwww{
        
        font-size: xx-large;
        margin-left: 430px;
      
        
    }